holistic-faas-management-system/src/main/resources/afcl_workflows/gateChangeAlert/awsGateChangeAlert.json
{
  "Comment":"Iterator State Machine Example",
  "StartAt":"getFlight",
  "States":{
    "getFlight":{
      "Type":"Task",
      "Resource":"arn:aws:lambda:us-east-1:170392512081:function:getFlight",
      "Next":"selectPassenger"
    },
    "selectPassenger":{
      "Type":"Task",
      "Resource":"arn:aws:lambda:us-east-1:170392512081:function:selectPassenger15",
      "ResultPath":"$",
      "Next":"parallelForMap"
    },
    "parallelForMap":{
      "Type":"Map",
      "ItemsPath":"$.passengers",
      "MaxConcurrency":15,
      "Iterator":{
        "StartAt":"parallelF21F22",
        "States":{
          "parallelF21F22":{
            "Type":"Parallel",
            "ResultPath":"$",
            "End":true,
            "Branches":[
              {
                "StartAt":"informPassenger",
                "States":{
                  "informPassenger":{
                    "Type":"Task",
                    "Resource":"arn:aws:lambda:us-east-1:170392512081:function:informPassenger",
                    "ResultPath":"$",
                    "End":true
                  }
                }
              },
              {
                "StartAt":"calculateTimeToGate",
                "States":{
                  "calculateTimeToGate":{
                    "Type":"Task",
                    "Resource":"arn:aws:lambda:us-east-1:170392512081:function:calculateTimeToGate",
                    "ResultPath":"$",
                    "Next":"checkTime"
                  },
                  "checkTime":{
                    "Type":"Choice",
                    "Choices":[
                      {
                        "And":[
                          {
                            "Variable":"$.minutesToGate",
                            "NumericGreaterThanEquals":20
                          }
                        ],
                        "Next":"recommendShop"
                      }
                    ],
                    "Default":"informTimeCritical"
                  },
                  "recommendShop":{
                    "Type":"Task",
                    "Resource":"arn:aws:lambda:us-east-1:170392512081:function:recommendShop",
                    "ResultPath":"$.recommendShop",
                    "End":true
                  },
                  "informTimeCritical":{
                    "Type":"Task",
                    "Resource":"arn:aws:lambda:us-east-1:170392512081:function:informCriticalTime",
                    "ResultPath":"$.informTimeCritical",
                    "End":true
                  }
                }
              }
            ]
          }
        }
      },
      "Next":"log"
    },
    "log":{
      "Type":"Task",
      "Resource":"arn:aws:lambda:us-east-1:170392512081:function:log",
      "ResultPath":"$",
      "End":true
    }
  }
}