data/afcl_workflows/genome/awsGenome/genomeParallelAWS/awsStepGenomeParallel40.json
{
  "Comment": "GenomeParallel",
  "StartAt": "parallelIndividualSifting",
  "States": {
    "parallelIndividualSifting": {
      "Type": "Parallel",
      "ResultPath": "$.par",
      "Next": "parallelMutationsOverlapFrequency",
      "Branches": [
        {
          "StartAt": "parallelIndividuals",
          "States": {
            "parallelIndividuals": {
              "Type": "Parallel",
              "ResultPath": "$.par",
              "Next": "individualsMerge",
              "Branches": [
                {
                  "StartAt": "individual1",
                  "States": {
                    "individual1": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual1",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual2",
                  "States": {
                    "individual2": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual2",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual3",
                  "States": {
                    "individual3": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual3",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual4",
                  "States": {
                    "individual4": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual4",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual5",
                  "States": {
                    "individual5": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual5",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual6",
                  "States": {
                    "individual6": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual6",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual7",
                  "States": {
                    "individual7": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual7",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual8",
                  "States": {
                    "individual8": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual8",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual9",
                  "States": {
                    "individual9": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual9",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual10",
                  "States": {
                    "individual10": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual10",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual11",
                  "States": {
                    "individual11": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual11",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual12",
                  "States": {
                    "individual12": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual12",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual13",
                  "States": {
                    "individual13": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual13",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual14",
                  "States": {
                    "individual14": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual14",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual15",
                  "States": {
                    "individual15": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual15",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual16",
                  "States": {
                    "individual16": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual16",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual17",
                  "States": {
                    "individual17": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual17",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual18",
                  "States": {
                    "individual18": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual18",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual19",
                  "States": {
                    "individual19": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual19",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual20",
                  "States": {
                    "individual20": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual20",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual21",
                  "States": {
                    "individual21": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual21",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual22",
                  "States": {
                    "individual22": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual22",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual23",
                  "States": {
                    "individual23": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual23",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual24",
                  "States": {
                    "individual24": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual24",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual25",
                  "States": {
                    "individual25": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual25",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual26",
                  "States": {
                    "individual26": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual26",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual27",
                  "States": {
                    "individual27": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual27",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual28",
                  "States": {
                    "individual28": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual28",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual29",
                  "States": {
                    "individual29": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual29",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual30",
                  "States": {
                    "individual30": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual30",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual31",
                  "States": {
                    "individual31": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual31",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual32",
                  "States": {
                    "individual32": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual32",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual33",
                  "States": {
                    "individual33": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual33",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual34",
                  "States": {
                    "individual34": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual34",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual35",
                  "States": {
                    "individual35": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual35",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual36",
                  "States": {
                    "individual36": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual36",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual37",
                  "States": {
                    "individual37": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual37",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual38",
                  "States": {
                    "individual38": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual38",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual39",
                  "States": {
                    "individual39": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual39",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "individual40",
                  "States": {
                    "individual40": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individual",
                      "InputPath": "$.individual40  ",
                      "ResultPath": "$",
                      "End": true
                    }
                  }
                }
              ]
            },
            "individualsMerge": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_individuals_merge",
              "InputPath": "$.individualsMerge",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "sifting",
          "States": {
            "sifting": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_sifting",
              "InputPath": "$.sifting",
              "ResultPath": "$",
              "End": true
            }
          }
        }
      ]
    },
    "parallelMutationsOverlapFrequency": {
      "Type": "Parallel",
      "ResultPath": "$.par",
      "End": true,
      "Branches": [
        {
          "StartAt": "mutationsOverlapEUR",
          "States": {
            "mutationsOverlapEUR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popEUR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapAFR",
          "States": {
            "mutationsOverlapAFR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popAFR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapEAS",
          "States": {
            "mutationsOverlapEAS": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popEAS",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapALL",
          "States": {
            "mutationsOverlapALL": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popALL",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapGBR",
          "States": {
            "mutationsOverlapGBR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popGBR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapSAS",
          "States": {
            "mutationsOverlapSAS": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popSAS",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "mutationsOverlapAMR",
          "States": {
            "mutationsOverlapAMR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_mutual_overlap",
              "InputPath": "$.popAMR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyEUR",
          "States": {
            "frequencyEUR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popEUR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyAFR",
          "States": {
            "frequencyAFR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popAFR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyEAS",
          "States": {
            "frequencyEAS": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popEAS",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyALL",
          "States": {
            "frequencyALL": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popALL",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyGBR",
          "States": {
            "frequencyGBR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popGBR",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencySAS",
          "States": {
            "frequencySAS": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popSAS",
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "frequencyAMR",
          "States": {
            "frequencyAMR": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:170392512081:function:genome_frequency",
              "InputPath": "$.popAMR",
              "ResultPath": "$",
              "End": true
            }
          }
        }
      ]
    }
  }
}